#formacoes{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20 px;
}

#formacoes h2{

    padding:20px;
	text-align:center;
	font-size: 4rem;
}

#cards_formacoes{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

/* <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efeito de Zoom em Imagem</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="image-container">
        <img src="sua-imagem.jpg" alt="Descrição da imagem" class="zoom-image">
    </div>
</body>
</html>

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.image-container {
    overflow: hidden;
    border-radius: 8px;
}

.zoom-image {
    width: 100%;
    transition: transform 0.5s ease;
}

.image-container:hover .zoom-image {
    transform: scale(1.1); /* Aumenta a imagem em 10% 
} 