*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


body{
    background-color:var(--cor-primaria);
    font-family: var(--fonte-primaria);
}

/* body::-webkit-scrollbar{
    display: none;
} */

.cabecalho{
    position: fixed;
    text-decoration: none;
    padding: 2% 0% 0% 15%;
    /* text-decoration:none;
    position: fixed;
    display: flex;
    width: 100%; */
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.layout_main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400vh;
}
.layout_pages{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 50px;
}
