.cabecalho{
    margin-top: 1%;
    text-align: center;

}
.cabecalho__menu{
    display: flex;
    gap: 100px;
    
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--cor-terciaria);
    text-decoration: none;
   
}
.cabecalho__menu__link:hover {
    background-color: #a5a3a3;
    border-radius: 15%;
    opacity: 40%;
}